body.dark-theme {
  background-color: #121212;
  color: #e0e0e0;
}

.app {
  transition: background-color 0.5s, color 0.5s;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 1000;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: vmax;
  height: 100vh;
}

.hero-section, .about-section, .projects-section, .extracurricular-section, .contact-section {
  padding: 50px 0;
}

/* Hero Section */
.hero-section {
  background-color: #f8f9fa; /* Light Theme */
}

.dark-theme .hero-section {
  background-color: #1e1e1e; /* Dark Theme */
}

/* About Section */
.about-section {
  background-color: #e9ecef; /* Light Theme */
}

.dark-theme .about-section {
  background-color: #343a40; /* Dark Theme */
}

/* Projects Section */
.projects-section {
  background-color: #ffffff; /* Light Theme */
}

.dark-theme .projects-section {
  background-color: #2c2c2c; /* Dark Theme */
}

/* Extracurricular Section */
.extracurricular-section {
  background-color: #f1f3f5; /* Light Theme */
}

.dark-theme .extracurricular-section {
  background-color: #3a3a3a; /* Dark Theme */
}

/* Contact Section */
.contact-section {
  background-color: #dee2e6; /* Light Theme */
}

.dark-theme .contact-section {
  background-color: #494949; /* Dark Theme */
}

