:root {
    --primary-color: #f8f9fa;
    --secondary-color: #343a40;
    --accent-color: #007bff;
    --background-color-light: #ffffff;
    --background-color-dark: #121212;
    --text-color-light: #000000;
    --text-color-dark: #e0e0e0;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  .dark-theme {
    --primary-color: #121212;
    --secondary-color: #f8f9fa;
    --accent-color: #1e90ff;
    --background-color-light: #343a40;
    --background-color-dark: #ffffff;
    --text-color-light: #e0e0e0;
    --text-color-dark: #000000;
  }
  